.pageWrapper {
    max-width: 240px;
    margin: 2rem auto 0;
}
.wrapper {
    background-color: var(--color-bg-gray);
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.sideArea {
    width: 300px;
    height: fit-content;
    position: sticky;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    top: calc(100px + 1rem);
}
.sideArea h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.sideArea h3 {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 1rem;
    font-weight: bold;
}
.sideArea ul:not(:last-child) {
    margin-bottom: 2rem;
}
.sideArea li {
    cursor: pointer;
    width: max-content;
}
.sideArea li button {
    cursor: pointer;
}
.sideArea li:hover {
    opacity: 0.6;
}
.mainArea {
    background-color: #fff;
    width: calc(100vw - 300px - 2rem);
    border-radius: 1rem;
}
.mainAreaHeader {
    align-items: baseline;
    justify-content: space-between;
    display: flex;
    margin: 1.5rem 1.5rem 0.75rem 1.5rem;
}
.mainAreaHeader p {
    font-size: 1.25rem;
}
.mainArea h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.loginButton {
    color: #fff;
    width: 100%;
    background-color: var(--color-primary);
    margin-top: 1rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
}
.purchaseList {
    padding: 0 1.5rem 2rem;
}
.purchaseItem {
    position: relative;
}
.purchaseInfo {
    display: flex;
    gap: 1rem;
}
.purchaseDate span {
    font-size: 1.25rem;
}
.purchaseName {
    font-weight: bold;
    font-size: 1.25rem;
}
.purchaseQuan {
    font-size: 1.25rem;
}
.purchaseText {
    width: 100%;
    position: relative;
}
a:has(.toSearchButton) {
    position: absolute;
    display: inline-block;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}
@media (max-width: 768px) {
    .wrapper {
        flex-flow: column;
    }
    .sideArea {
        position: relative;
        width: 100%;
        top: unset;
    }
    .mainArea {
        width: 100%;
    }
}
