.favorite {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #fff;
    border: 1px solid var(--color-text-gray);
    border-radius: 100%;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.favorite:hover {
    transform: translate(1px, 1px);
}
.animate {
    animation: pop 0.3s ease;
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
