.title {
    display: flex;
    position: relative;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.item {
    display: inline-block;
}
.card {
    width: 100% !important;
}
